# Database
Backend/medquizz.db
backend/medquizz.db
*.db

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Node
node_modules/
dist/
.env.local
.env.production

# Models
models/
*.safetensors

# Offload
offload/